{% extends "management/navbar.html" %}
{% block content %}

<div class="card p-5 m-5">
    <form action="" id="formSubmission">
        <div class="row text-center">
            <div class="col-lg-4 mt-2">
                <label for="medicine_name">Medicine Name</label>
                <input list="medicine_names" class="form-control"
                    name="medicine_name"
                    id="medicine_name">
                <datalist id="medicine_names">
                    <option value="Paracetamol 500"></option>
                    <option value="Paracetamol 600"></option>

                </datalist>
            </div>
            <div class="col-lg-1 mt-2">
                <label for="morning">Morning</label>
                <select name="" id="morning"
                    class="form-control">
                    <option value="0.5">1/2</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-lg-1 mt-2">
                <label for="after_noon">Noon</label>
                <select name="" id="after_noon"
                    class="form-control">
                    <option value="0.5">1/2</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-lg-1 mt-2">
                <label for="evening">Evening</label>
                <select name="" id="evening"
                    class="form-control">
                    <option value="0.5">1/2</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-lg-1 mt-2">
                <label for="night">Night</label>
                <select name="" id="night"
                    class="form-control">
                    <option value="0.5">1/2</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="col-lg-1 mt-2">
                <label for="days">Days</label>
                <input type="text" class="form-control" name=""
                    id="days">
            </div>
            <div class="col-lg-2 mt-2">
                <label for="total_tablets">Total&nbsp;Tablets</label>
                <input type="text" class="form-control" name=""
                    id="total_tablets">
            </div>
        </div>
        <hr class="hr-center">
        <div class="text-center">
            <button type="button" id="save" class="btn btn-outline-success">Add</button>
            <button type="reset" class="btn btn-outline-danger">cancel</button>
        </div>
    </form>
</div>
<div class="card m-5 p-5">
    <div class="table-responsive">
        <table class="table table-striped table-bordered text-center" id="myTable">
            <thead>
                <tr>
                    <th rowspan="2">S.No</th>
                    <th rowspan="2">Medicine&nbsp;Name</th>
                    <th colspan="4">Timing</th>
                    <th rowspan="2">Days</th>
                    <th rowspan="2">Total</th>
                    <th rowspan="2">Action</th>
                </tr>
                <tr>
                    <th>Morning</th>
                    <th>After&nbsp;Noon</th>
                    <th>Evening</th>
                    <th>Night</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>















{% endblock %}


{% block script %}
$(document).ready(function () {

var morning = parseFloat($('#morning').val() || 0);
var after_noon = parseFloat($('#after_noon').val() || 0);
var dosage = parseFloat( $('#dosage').val() || 0);
var night = parseFloat($('#night').val() || 0);
var days = parseFloat($('#days').val() || 1);
var total = (morning + after_noon + evening + night) * days;


$('#total_tablets').val(total);

$('#dosage').change(function () {
    
    var morning = parseFloat($('#morning').val() || 0);
    var after_noon = parseFloat($('#after_noon').val() || 0);
    var evening = parseFloat( $('#evening').val() || 0);
    var night = parseFloat($('#night').val() || 0);
    var days = parseFloat($('#days').val() || 1);
    var total = (morning + after_noon + evening + night) * days;


    $('#total_tablets').val(total);
});

$('#morning').keyup(function () {
    
    var morning = parseFloat($('#morning').val() || 0);
    var after_noon = parseFloat($('#after_noon').val() || 0);
    var evening = parseFloat( $('#evening').val() || 0);
    var night = parseFloat($('#night').val() || 0);
    var days = parseFloat($('#days').val() || 1);
    var total = (morning + after_noon + evening + night) * days;

    $('#total_tablets').val(total);
});
$('#after_noon').keyup(function () {
    
    var morning = parseFloat($('#morning').val() || 0);
    var after_noon = parseFloat($('#after_noon').val() || 0);
    var evening = parseFloat( $('#evening').val() || 0);
    var night = parseFloat($('#night').val() || 0); 
    var days = parseFloat($('#days').val() || 1);
    var total = (morning + after_noon + evening + night) * days;


    $('#total_tablets').val(total);
});
$('#night').keyup(function () {
    
    var morning = parseFloat($('#morning').val() || 0);
    var after_noon = parseFloat($('#after_noon').val() || 0);
    var evening = parseFloat( $('#evening').val() || 0);
    var night = parseFloat($('#night').val() || 0);
    var days = parseFloat($('#days').val() || 1);
    var total = (morning + after_noon + evening + night) * days;


    $('#total_tablets').val(total);
});
$('#days').keyup(function () {
    
    var morning = parseFloat($('#morning').val() || 0);
    var after_noon = parseFloat($('#after_noon').val() || 0);
    var evening = parseFloat( $('#evening').val() || 0);
    var night = parseFloat($('#night').val() || 0);
    var days = parseFloat($('#days').val() || 1);
    var total = (morning + after_noon + evening + night) * days;

    $('#total_tablets').val(total);
});
});



$('#save').on('click', function() {
    var medicine_name=$('#medicine_name').val();
    var evening=$('#evening').val();
    var morning=$('#morning').val();
    var after_noon=$('#after_noon').val();
    var night = $('#night').val();
    var days = $('#days').val();
    var total_tablets = $('#total_tablets').val();

    var count = $('#myTable tr').length;
    if(medicine_name!="" && evening !="" && days!="" && total_tablets!=""){
    $('#myTable tbody').append('<tr class="child"><td>'+(count-1)+'</td><td>'+medicine_name+'</td><td>'+morning+'</td><td>'+after_noon+'</td><td>'+evening+'</td><td>'+night+'</td><td>'+days+'</td><td>'+total_tablets+'</td><td><a href="javascript:void(0);" class="remCF1 btn btn-small btn-danger"><i class="fa-solid fa-x"></i></a></td></tr>');
    }
    });
    $(document).on('click','.remCF1',function(){
    $(this).parent().parent().remove();
    $('#myTable tbody tr').each(function(i){            
     $($(this).find('td')[0]).html(i+1);          
    });
    });

{% endblock script %}