<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="mt-2 h-100 p-2 card border_card">
            <h4>PRESCRIPTION</h4>
            <hr class="hr-center">
            <div class="table-responsive ">
                <table class="table table-striped table-bordered text-center w-100" >
                    <thead>
                        <tr>
                            
                            <th>Medicine&nbsp;Name</th>
                            <th>Morning</th>
                            <th>After&nbsp;Noon</th>
                            <th>Evening</th>
                            <th>Night</th>
                            <th>Days</th>
                            <th>Total</th>
                            <th>Amount per medicine</th>
                            <th>Amount </th>
                          
                        </tr>
                    </thead>
                    <tbody >
                        {% if tablet %}
                        {% for medi,am,tot in tablet %}
                     <tr>
                       
                        <td>{{medi.medicine_name}}</td>
                        <td>{{medi.morning}}</td>
                        <td>{{medi.noon}}</td>
                        <td>{{medi.evening}}</td>
                        <td>{{medi.night}}</td>
                        <td>{{medi.days}}</td>
                        <td>{{medi.total}}</td>
                        <td>{{am}}</td>
                        <td>{{tot}}</td>
                     </tr>
                     {% endfor %}
                     {% else %}
                            <tr>
                                <td colspan="8" class="text-center">No Data Available</td>
                            </tr>
                            {% endif %}
                    </tbody>
                </table>
            </div>
           <div class="d-flex justify-content-center">
            
          <button type="button" id="print_btn" class="btn btn-outline-success" >Print</button>
           
           </div>
        </div>
    </div>
</body>
</html>