{% extends "management/navbar.html" %}
{% block content %}

   

        <div class="card p-2 p-lg-5 mx-5">
            <form method="POST" action="{% url 'inventory_search_medicine' %}">
                {% csrf_token %}
                <div class=" row  justify-content-center ">
                    <div class="col-lg-4 text-lg-right">
                        <label for="search">Enter&nbsp;Medicine&nbsp;Name&nbsp;Or&nbsp;Unique&nbsp;Id&nbsp;:</label>
                    </div>
                    <div class=" col-lg-4">
                        <input type="text" name="search" value="{{name_id}}" class="form-control mb-2" id="search">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <label for="from">From</label>
                        <input type="date" name="start_date" value="{{start_date}}" class="form-control mb-2" id="from">
                    </div>
                    <div class=" col-lg-6">
                        <label for="to">To</label>
                        <input type="date" name="end_date" value="{{end_date}}" class="form-control mb-2" id="to">
                    </div>
                </div>


                <div class=" text-center mt-3">
                    <button type="submit" class="btn btn-outline-primary"><i
                            class="fa-solid fa-search"></i>&nbsp;Search</button>
                </div>

            </form>
        </div>

        <div class="card p-2 p-lg-5 mx-5 mt-5">
            <div class="table-responsive">
                <table class="table table-striped table-bordered text-center">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Unique&nbsp;Id</th>
                            <th>Brand&nbsp;Name</th>
                            <th>Medicine&nbsp;Name</th>
                            <th>Mg</th>
                            <th>Quantity</th>
                            <th>Expiry&nbsp;Date</th>
                            <th>Purchase&nbsp;Date</th>
                            <th>Stocked&nbsp;Date</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if medicines%}
                        {% for i in medicines %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.medicine_id}}</td>
                            <td>{{i.medicine_brand}}</td>
                            <td>{{i.medicine_name}}</td>
                            <td>{{i.medicine_mg}}</td>
                            <td>{{i.quantity}}</td>
                            <td>{{i.expiry_date}}</td>
                            <td>{{i.purchase_date}}</td>
                            <td>{{i.stocked_date}}</td>
                            <td>{{i.medicine_price}}</td>
                            <td><i class="fa-solid fa-edit text-info" onclick="update('{{i.id}}')" id="update_medicine{{i.id}}"
                                 object="{{i.id}}" medicine_id="{{i.medicine_id}}" medicine_name="{{i.medicine_name}}" medicine_brand="{{i.medicine_brand}}"
                                 medicine_mg="{{i.medicine_mg}}" quantity="{{i.quantity}}" expiry_date="{{i.expiry_date|date:"Y-m-d"}}" purchase_date="{{i.purchase_date|date:"Y-m-d"}}" 
                                 stocked_date="{{i.stocked_date|date:"Y-m-d"}}" medicine_price="{{i.medicine_price}}"
                                 data-toggle="modal" data-target="#edit_inventory"></i></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="11" class="text-center">No Data Available</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>





  
  <!-- Modal -->
  <div class="modal fade" id="edit_inventory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update&nbsp;Medicine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST"  action="{% url 'inventory_update_medicine' %}">
                {% csrf_token %}
                <div class="row" id="hiddden_section" style="display: none;">
                    <div class="col-lg-6">
                        <input type="text" id="search_item" name="search">
                    </div>
                    <div class="col-lg-6">
                        <input type="date" id="modal_from" name="start_date">
                    </div>
                    <div class="col-lg-6">
                        <input type="date" id="modal_to" name="end_date">
                        <input type="text" class="form-control mb-2" name='object_id'  id="object_value">
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-lg-right text-md-left">
                        <label for="unique_id">Unique&nbsp;Id&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name='medicine_id'  id="medicine_id" readonly>
                    </div>
                    

                </div>

                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="brand_name" class="text-center">Brand Name&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name="medicine_brand" value="{{form.medicine_brand.value|default_if_none:''}}" id="medicine_brand" required>
                        {% if form.medicine_brand.errors %}
                        <span class="text-danger">{{form.medicine_brand.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-lg-right text-md-left">
                        <label for="medicine_name" class="text-center">Medicine&nbsp;Name&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" name="medicine_name" class="form-control mb-2" value="{{form.medicine_name.value|default_if_none:''}}" id="medicine_name" required>
                        {% if form.medicine_name.errors %}
                        <span class="text-danger">{{form.medicine_name.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="mg" class="text-center">Medecine Dose&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="age" class="form-control mb-2" name="medicine_mg" value="{{form.medicine_mg.value|default_if_none:''}}" id="medicine_mg" aria-describedby="basic-addon2" required>
                            
                            <div class="input-group-append">
                                <span class="input-group-text mb-2" id="basic-addon2">mg</span>

                            </div>
                        </div>
                        {% if form.medicine_mg.errors %}
                        <span class="text-danger">{{form.medicine_mg.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="quantity" class="text-center">Quantity&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name="quantity" value="{{form.quantity.value|default_if_none:''}}" id="quantity" required>
                        {% if form.quantity.errors %}
                        <span class="text-danger">{{form.quantity.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center ">

                    <div class="col-lg-4 text-md-left text-lg-right">

                        <label for="expiry_date" class="text-center">Expiry&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5 mb-2">
                        <input type="date" class="form-control mb-2" name="expiry_date" id="expiry_date">

                        {% comment %} {{  form.expiry_date }} {% endcomment %}
                        {% if form.expiry_date.errors %}
                        <span class="text-danger">{{form.expiry_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">


                        <label for="purchase_date">Purchase&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5">
                        <input type="date" class="form-control mb-2" name="purchase_date" id="purchase_date">
                        {% comment %} {{  form.purchase_date }} {% endcomment %}
                        {% if form.purchase_date.errors %}
                        <span class="text-danger">{{form.purchase_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">


                        <label for="stocked_date">Stocked&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5">
                        <input type="date" class="form-control mb-2" name="stocked_date" id="stocked_date">
                        {% comment %} {{  form.stocked_date }} {% endcomment %}
                        {% if form.stocked_date.errors %}
                        <span class="text-danger">{{form.stocked_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right mb-2">
                        <label for="price" class="col-form-label">Price&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" id="medicine_price" name="medicine_price" value="{{form.medicine_price.value|default_if_none:''}}" required maxlength="10">
                        
                        {% if form.medicine_price.errors %}
                        <span class="text-danger">{{form.medicine_price.errors}} </span>
                        {% endif %}


                    </div>
                </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-outline-success">Update</button>
            <button type="button" class="btn btn-outline-danger ml-4" data-dismiss="modal">Cancel</button>
        </div>
        </form>
        </div>
      
      </div>
    </div>
  </div>


   <!--Error Modal -->
   <div class="modal fade" id="error-edit_inventory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Error&nbsp;Update&nbsp;Medicine</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="POST"  action="{% url 'inventory_update_medicine' %}">
                {% csrf_token %}
                <div class="row" style="display: none;">
                    <div class="col-lg-6">
                        <input type="text" value="{{name_id}}" name="search" id="search_item">
                    </div>
                    <div class="col-lg-6">
                        <input type="date" value="{{start_date}}" name="start_date" id="modal_from">
                    </div>
                    <div class="col-lg-6">
                        <input type="date" id="modal_to" name="end_date" value="{{end_date}}">
                        <input type="text" class="form-control mb-2" value="{{object}}" name='object_id'  id="object_value">
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-lg-right text-md-left">
                        <label for="unique_id">Unique&nbsp;Id&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name='medicine_id' value="{{form.medicine_id.value}}" id="unique_id" readonly>
                    </div>
                </div>

                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="brand_name" class="text-center">Brand Name&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name="medicine_brand" value="{{form.medicine_brand.value|default_if_none:''}}" id="brand_name" required>
                        {% if form.medicine_brand.errors %}
                        <span class="text-danger">{{form.medicine_brand.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-lg-right text-md-left">
                        <label for="medicine_name" class="text-center">Medicine&nbsp;Name&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" name="medicine_name" class="form-control mb-2" value="{{form.medicine_name.value|default_if_none:''}}" id="medicine_name" required>
                        {% if form.medicine_name.errors %}
                        <span class="text-danger">{{form.medicine_name.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="mg" class="text-center">Medecine Dose&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <div class="input-group">
                            <input type="age" class="form-control mb-2" name="medicine_mg" value="{{form.medicine_mg.value|default_if_none:''}}" id="mg" aria-describedby="basic-addon2" required>
                            
                            <div class="input-group-append">
                                <span class="input-group-text mb-2" id="basic-addon2">mg</span>

                            </div>
                        </div>
                        {% if form.medicine_mg.errors %}
                        <span class="text-danger">{{form.medicine_mg.errors}} </span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">
                        <label for="quantity" class="text-center">Quantity&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control mb-2" name="quantity" value="{{form.quantity.value|default_if_none:''}}" id="" required>
                        {% if form.quantity.errors %}
                        <span class="text-danger">{{form.quantity.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center ">

                    <div class="col-lg-4 text-md-left text-lg-right">

                        <label for="expiry_date" class="text-center">Expiry&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5 mb-2">
                        <input type="date" class="form-control mb-2" value="{{form.expiry_date.value}}" name="expiry_date" id="expiry_date" >

                        {% comment %} {{  form.expiry_date }} {% endcomment %}
                        {% if form.expiry_date.errors %}
                        <span class="text-danger">{{form.expiry_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">


                        <label for="purchase_date">Purchase&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5">
                        <input type="date" class="form-control mb-2" name="purchase_date" value="{{form.purchase_date.value}}" id="purchase_date">
                        {% comment %} {{  form.purchase_date }} {% endcomment %}
                        {% if form.purchase_date.errors %}
                        <span class="text-danger">{{form.purchase_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right">


                        <label for="stocked_date">Stocked&nbsp;Date&nbsp;&nbsp;:</label>

                    </div>
                    <div class="col-lg-5">
                        <input type="date" class="form-control mb-2" name="stocked_date" value="{{form.stocked_date.value}}" id="stocked_date">
                        {% comment %} {{  form.stocked_date }} {% endcomment %}
                        {% if form.stocked_date.errors %}
                        <span class="text-danger">{{form.stocked_date.errors}} </span>
                        {% endif %}

                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">

                    <div class="col-lg-4 text-md-left text-lg-right mb-2">
                        <label for="price" class="col-form-label">Price&nbsp;&nbsp;:</label>
                    </div>
                    <div class="col-lg-5">
                        <input type="text" class="form-control" id="price" name="medicine_price" value="{{form.medicine_price.value|default_if_none:''}}" required maxlength="10">
                        
                        {% if form.medicine_price.errors %}
                        <span class="text-danger">{{form.medicine_price.errors}} </span>
                        {% endif %}


                    </div>
                </div>
        </div>
        <div class="col-lg-12 d-flex justify-content-center mb-5">
            <button type="submit" class="btn btn-outline-success">Update</button>
            <button type="button" class="btn btn-outline-danger ml-4" data-dismiss="modal">Cancel</button>
        </div>
        </form>
        </div>
      
      </div>
    </div>
  </div>

    {% endblock %}
     
{% block script %}

$(document).ready(function () {
    {% if err %}
$('#error-edit_inventory').modal({backdrop:'static',keyboard : false}); 
{% endif %}

// $('#hiddden_section').hide();
});

function update(event) {

    var from_val = $('#from').val();
    var to_val = $('#to').val();
    var search_value = $('#search').val();
    var newobject = $('#update_medicine' + event).attr("object");
    var newmedicine_id = $('#update_medicine' + event).attr("medicine_id");
    var newmedicine_brand = $('#update_medicine' + event).attr("medicine_brand");
    var newmedicine_name = $('#update_medicine' + event).attr("medicine_name");
    var newmedicine_mg = $('#update_medicine' + event).attr("medicine_mg");
    var newquantity = $('#update_medicine' + event).attr("quantity");
    var newexpiry_date = $('#update_medicine' + event).attr("expiry_date");
    var newpurchase_date = $('#update_medicine' + event).attr("purchase_date");
    var newstocked_date = $('#update_medicine' + event).attr("stocked_date");
    var newmedicine_price = $('#update_medicine' + event).attr("medicine_price");
    

    $('#modal_from').val(from_val)
    $('#modal_to').val(to_val)
    $('#search_item').val(search_value)
    $('#object_value').val(newobject)
    $('#medicine_id').val(newmedicine_id)
    $('#medicine_brand').val(newmedicine_brand)
    $('#medicine_name').val(newmedicine_name)
    $('#medicine_mg').val(newmedicine_mg)
    $('#quantity').val(newquantity)
    $('#expiry_date').val(newexpiry_date)
    $('#purchase_date').val(newpurchase_date)
    $('#stocked_date').val(newstocked_date)
    $('#medicine_price').val(newmedicine_price)
    $('#modal_from').val(from_val)
    $('#modal_to').val(to_val)
    $('#search_item').val(search_value)
}



{% endblock script %}