{% extends "management/navbar.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="card p-3 p-md-5 text-center">
            <h4>ADD FEES</h4>
            <hr class="hr-center">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="fee_name">Enter&nbsp;Fee&nbsp;Name&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="fee_name" value="{{form.fee_name.value|default_if_none:''}}" id="fee_name">
                        <span class="text-danger">{{form.fee_name.errors}} </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="amount">Amount&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="amount" value="{{form.amount.value|default_if_none:'0'}}" id="amount">
                        <span class="text-danger">{{form.amount.errors}} </span>
                    </div>
                </div>
                <hr class="hr-center">
                <div>
                    <button type="submit" class="btn btn-outline-success">Save</button>
                    <button type="reset" class="btn btn-outline-danger">Cancel</button>
                </div>

            </form>
        </div>
        <div class="card p-5 text-center mt-5">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Fees&nbsp;Name</th>
                            <th>Amount</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in addfees %}
                        <tr>
                           
                            <td>{{forloop.counter}}</td>
                            <td>{{i.fee_name}}</td>
                            <td>{{i.amount}}</td>
                            <td><i class="fa-solid fa-edit px-2 text-info" onclick="view('{{i.id}}')" ob_id="{{i.id}}" id="add_fees{{i.id}}" fee_name="{{i.fee_name}}" amount="{{i.amount}}" data-toggle="modal" data-target="#edit_fees"></i></a>
                                <a data-toggle="modal" data-target="#delete" onclick="remove('{{i.id}}')"  ob_id="{{i.id}}"><i class="fa-solid fa-trash px-2 text-danger"></i></a></td>
                                    
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>





  
  <!--Edit Modal -->
  <div class="modal fade" id="edit_fees" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Fees</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'fee_mode' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="fee_name">Enter&nbsp;Fee&nbsp;Name&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="fee_name" id="fee_name_id">
                        <input type="hidden" name="ob" id="ob_id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="amount">Amount&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="amount"  id="fee_amount">
                    </div>
                </div>
                <hr class="hr-center">
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success">Update</button>
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancel</button>
                </div>

            </form>
        </div>
       
      </div>
    </div>
  </div>


<!--Error Modal -->
<div class="modal fade" id="edit_fees_error" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Fees</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="{% url 'fee_mode' %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="fee_name">Enter&nbsp;Fee&nbsp;Name&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="fee_name" value="{{form1.fee_name.value|default_if_none:''}}" id="fee_name_id">
                        <span class="text-danger">{{form1.fee_name.errors}} </span>
                        <input type="hidden" name="ob" value="{{object}}" id="ob_id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 my-2 text-left text-md-right">
                        <label for="amount">Amount&nbsp;:</label>
                    </div>
                    <div class="col-md-6 my-2">
                        <input type="text" class="form-control" name="amount" value="{{form1.amount.value|default_if_none:''}}" id="fee_amount">
                        <span class="text-danger">{{form1.amount.errors}} </span>
                    </div>
                </div>
                <hr class="hr-center">
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-success">Update</button>
                    <button type="button" data-dismiss="modal" class="btn btn-outline-danger">Cancel</button>
                </div>

            </form>
        </div>
       
      </div>
    </div>
  </div>
  
  
  <!--delete  Modal -->
  <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteLabel">Delete</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <form action="{% url 'delete_fees' %}" method="POST">
                {% csrf_token %}
        
        <div id="del_name">Are you sure Delete ?&nbsp;</div>
        <input type="hidden" name="newobid" id="newobid">
        <hr class="hr-center">
        <div class="mt-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Delete</button>
          </div>
        </form>
        </div>
       
      </div>
    </div>
  </div>


{% endblock %}

<script>
    {% block script %}
    {% if err %}
    $(document).ready(function () {

        $('#edit_fees_error').modal({backdrop:'static',keyboard:false});

    });
{% endif %} 
   
function remove(event) {

    var newfeename = $('#add_fees' + event).attr("fee_name")
    var newamount = $('#add_fees' + event).attr("amount")
    var newobid=$('#add_fees'+event).attr("ob_id")


    $('#fee_name_id').val(newfeename)
    $('#fee_amount').val(newamount)
    $('#newobid').val(newobid)
$('#del_name').append(newfeename)

}


    function view(event) {

        var newfeename = $('#add_fees' + event).attr("fee_name")
        var newamount = $('#add_fees' + event).attr("amount")
        var newobid=$('#add_fees'+event).attr("ob_id")


        $('#fee_name_id').val(newfeename)
        $('#fee_amount').val(newamount)
        $('#ob_id').val(newobid)


    }
    {% endblock script %}
</script>