{% extends "management/navbar.html" %}
{% load static %}

{% block content %}


<div class="card p-2 p-lg-5 mx-5">
    <form method="POST" action="">
        {% csrf_token %}
        
       
        <div class="row">
            <div class="col-lg-6">
                <label for="from">From</label>
                <input type="date" name="start_date" value="{{start_date}}" class="form-control mb-2" id="from" required>
            </div>
            <div class=" col-lg-6">
                <label for="to">To</label>
                <input type="date" name="end_date" value="{{end_date}}" class="form-control mb-2" id="to" required>
            </div>
        </div>
        


        <div class=" text-center mt-3">
            <button type="submit" class="btn btn-outline-primary"><i
                    class="fa-solid fa-search"></i>&nbsp;Search</button>
        </div>

    </form>
</div>


{% endblock %}
