{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>


    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> 

    <!-- Boxicons CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css internal link  -->
    <link rel="stylesheet" href="{% static 'css/navbarstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/clinicstyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">

    <!-- css for Select2  -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">Clinic</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
           
            <li>
               
                    <a href="{% url 'register' %}">
                        <i class='bx bx-pie-chart-alt-2'></i>
                        <span class="links_name">Register</span>
                    </a>
                </li>
                <li>
                <a href="{% url 'login_view' %}">
                    <i class='bx bx-list-ul'></i>
                    <span class="links_name">login</span>
                </a>
            </li>
            <li>
                <a href="{% url 'user_view' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">User view</span>
                </a>
            </li>
            <li>
                <a href="{% url 'doctor_view' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Doctor view</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'search_patient' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Search patient</span>
                </a>
            </li>
            <li>
                <a href="{% url 'patients_register' %}">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Patient Registration</span>
                </a>
            </li>
            <li>
                <a href="{% url 'add_fees' %}">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Add fees</span>
                </a>
            </li>
           
            <!-- <li>
                <a href="#">
                    <i class='bx bx-coin-stack'></i>
                    <span class="links_name">Services</span>
                </a>
            </li> -->
            
           
            <li>
                <a href="{% url 'inventory_add_medicine' %}">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Inventory</span>
                </a>
            </li>
            <li>
                <a href="{% url 'inventory_search_medicine' %}">
                    <i class="fa-regular fa-heart"></i>
                    <span class="links_name">Search Inventory</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>
            <li class="log_out">
                <a href="{% url 'user_logout' %}">
                    <i class='bx bx-log-out'></i>
                    <!-- <button type="button" class="btn btn-light">Log out</button> -->
                    <span class="links_name">Log out</span>

                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn' id="sidebarBtn"></i>
                <span class="dashboard">Dashboard</span>
            </div>

            <div>
            
                <span class="links_name">{{user.username}}</span>

            </div>
        </nav>
        
        <div class="home-content">
          {% block content %}

            {% endblock %}
            {% comment %} <!-- <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Doctor</div>
                        <div class="number"></div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text"></span>
                        </div>
                    </div>
                    <i class='bx bx-cart cart three'></i>

                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Nurses</div>
                        <div class="number"></div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text"></span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-add cart two'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">Pharmacy</div>
                        <div class="number"></div>
                        <div class="indicator">
                            <i class='bx bx-up-arrow-alt'></i>
                            <span class="text"></span>
                        </div>
                    </div>
                    <i class='bx bx-cart cart three'></i>
                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic">services</div>
                        <div class="number"></div>
                        <div class="indicator">
                            <i class='bx bx-down-arrow-alt down'></i>
                            <span class="text"></span>
                        </div>
                    </div>
                    <i class='bx bxs-cart-download cart four'></i>
                </div> --> {% endcomment %}
            </div>
        </div>
        


    </section>
  
    <!--javascript  -->
<!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    
        <!--javascript for Select 2 -->

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/datalist-css/dist/datalist-css.min.js"></script>

    
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector("#sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }
        {% block script %}
        

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode !=46)
                return false;
            return true;
        } 
{% endblock script %}
    </script>
    </body>
</html>
    