{% extends "management/navbar.html" %}
{% load static %}

{% block content %}


<section id="out_patient">
    {% comment %} <div class="container"> {% endcomment %}
        <div class="card mt-4 mx-5">
            <div class="card-body">
                <h1 class="card-title text-center mt-4">REGISTERED OUT_PATIENT</h1><br>
                <hr><br><br>
                <div class="table-responsive">
                    <table id="example" class="table table-bordered text-center " style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">S.No</th>
                                <th class="text-center">Patient&nbsp;ID</th>
                                <th class="text-center">Patient&nbsp;Name</th>
                                <th class="text-center">Mobile&nbsp;Number</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
    
                         
    
    
    
                          
                            {% for i in x %}
                            {% if i.is_active %}
                           
                            <tr >
                                <td>{{forloop.counter}}</td>
                                <td>{{i.patient.patient_id}}</td>
                                <td>{{i.patient.patient_name}}</td>
                                <td>{{i.patient.phone_number}}</td>
    
    
                                <td>{% if i.is_active %}
                                    <strong>Active</strong>
                                    {% else %}
                                    <strong>In-Active</strong>{% endif %}
                                </td>
    
                                <td> 
                                    <div class="d-flex">
                                        {% if user.is_admin %}
                                    {% if i.is_active %}
                                    {% if i.is_vital%}
                                    <a href="{% url 'disable_view' i.id %}"><button type="submit"
                                            class="btn btn-outline-dark"><i
                                                class="fa-solid fa-play"></i></button></a>&nbsp;&nbsp;
                                    {% else %}
                                    <a href="{% url 'enable_view' i.id %}"> <button type="submit"
                                            class="btn btn-outline-dark"> <i class="fa-solid fa-pause"> </i></button>
                                    </a>&nbsp;&nbsp;
                                    {% endif %}
                                    {% endif %}
                                    <button type="button" class="btn btn-outline-dark" onclick="view('{{i.id}}')"
                                        data-toggle="modal" data-target="#exampleModal">
                                        <i object_id="{{i.id}}" vitals_id="{{i.vitals.id}}" id="general_vitals{{i.id}}" temp="{{i.vitals.temperature}}" pulserate="{{i.vitals.pulse_rate}}" bloodstart="{{i.vitals.blood_pressure_start}}" bloodend="{{i.vitals.blood_pressure_end}}" heig="{{i.vitals.height}}" weig="{{i.vitals.weight}}" other="{{i.vitals.others}}"
                                            class="fa-solid fa-temperature-three-quarters"></i>
                                            {% endif %}
                                       
                                    </div>
                                </td>
                            </tr>
                            {% else %}
                            <tr style="background-color: rgba(141, 141, 141, 0.678);">
                                <td>{{forloop.counter}}</td>
                                <td>{{i.patient.patient_id}}</td>
                                <td>{{i.patient.patient_name}}</td>
                                <td>{{i.patient.phone_number}}</td>
    
    
                                <td>{% if i.is_active %}
                                    <strong>Active</strong>
                                    {% else %}
                                    <strong>In&nbsp;-&nbsp;Active</strong>{% endif %}
                                </td>
    
                                <td>
                                    <div class="d-flex">
                                        {% if user.is_admin %}
                                        {% if i.is_vital%}
                                        {% if i.is_active %}
                                        <a href="{% url 'disable_view' i.id %}"><button type="submit"
                                                class="btn btn-outline-dark"><i
                                                    class="fa-solid fa-play"></i></button></a>&nbsp;&nbsp;
                                        {% else %}
                                        <a href="{% url 'enable_view' i.id %}"> <button type="submit"
                                                class="btn btn-outline-dark"> <i class="fa-solid fa-pause"> </i></button>
                                        </a>&nbsp;&nbsp;
                                        {% endif %}
                                        {% endif %}
                                        <button type="button" class="btn btn-outline-dark" onclick="view('{{i.id}}')"
                                            data-toggle="modal" data-target="#exampleModal">
                                            <i object_id="{{i.id}}" id="general_vitals{{i.id}}" vitals_id="{{i.vitals.id}}" temp="{{i.vitals.temperature}}" pulserate="{{i.vitals.pulse_rate}}" bloodstart="{{i.vitals.blood_pressure_start}}" bloodend="{{i.vitals.blood_pressure_end}}" heig="{{i.vitals.height}}" weig="{{i.vitals.weight}}" other="{{i.vitals.others}}"
                                                class="fa-solid fa-temperature-three-quarters"></i>
                                        {% endif %}
                                           
                                       
                                    </div> 
                                </td>
                            </tr>
                            {% endif %}
                           
                           
                            {% endfor %}
    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
</section>

<!-- Modal -->



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center" id="exampleModal">General Vitals </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
                <div class="modal-body">
                    <form action="{% url 'general_vitals' %}" method="POST">
                        {% csrf_token %}
                        {% comment %} <!-- {% if z %}
                        {% for i,i.vitals in z %} --> {% endcomment %}
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Temperature&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" 
                                        aria-label="Recipient's username" name="temperature" id="temp"
                                        aria-describedby="basic-addon2" >
                                        <!-- {% if form_error %}
                                        $(#offerModalForm).modal("show");
                                    {% endif %} -->
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"> &#8457;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Pulse&nbsp;Rate&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" id="pulserate"
                                        aria-label="Recipient's username" name="pulse_rate"
                                        aria-describedby="basic-addon2" >
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">/min</span>
                                    </div>
                                    <input type="hidden" name="object" id="object_id">
                                    <input type="hidden" name="vitals" id="vitals_id">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="inputname" class="">Blood&nbsp;Pressure&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8 mb-1">
                                        <input type="text" class="form-control" name="blood_pressure_start"  id="bloodstart" >
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder=""
                                                aria-label="Recipient's username" name="blood_pressure_end" id="bloodend"
                                                aria-describedby="basic-addon3" >
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon3">mm/Hg</span>
                                            </div>
        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Height&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="height"  id="heig" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Weight&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="weight"   id="weig" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Others&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control mb-4" name="others" id="other"  placeholder=""
                                    required></textarea>
                            </div>
                        </div>
                


                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger ml-3">Cancel</button>
                </div>
                {% comment %} <!-- {% endfor %}

{% else %} -->
               
                <!-- {% endif %} --> {% endcomment %}
                </form>
            </div>


        </div>
    </div>
</div>


<!-- --------------error modal------------------- -->





<div class="modal fade" id="errormodal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center" id="errormodal">General Vitals </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
                <div class="modal-body">
                    <form action="{% url 'general_vitals' %}" method="POST">
                        {% csrf_token %}
                        {% comment %} <!-- {% if z %}
                        {% for i,j in z %} --> {% endcomment %}
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Temperature&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" 
                                        aria-label="Recipient's username" name="temperature" id="temp" value="{{form.temperature.value}}"
                                        aria-describedby="basic-addon2" >
                                        

                                        <!-- {% if form_error %}
                                        $(#offerModalForm).modal("show");
                                    {% endif %} -->
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"> &#8457;</span>
                                        
                                    </div>
                                    <span class="text-danger">{{form.temperature.errors}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Pulse&nbsp;Rate&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="" id="pulserate"
                                        aria-label="Recipient's username" name="pulse_rate" value="{{form.pulse_rate.value}}"
                                        aria-describedby="basic-addon2" >

                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">/min</span>
                                    </div>
                                    <span class="text-danger">{{form.pulse_rate.errors}}</span>
                                    <input type="hidden" name="object" value="{{object}}" id="object_id">
                                    <input type="hidden" name="vitals" value="{{vital}}" id="vitals_id">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="inputname" class="">Blood&nbsp;Pressure&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md -4">
                                        <input type="text" class="form-control" name="blood_pressure_start"  id="bloodstart"  value="{{form.blood_pressure_start.value}}">
                                        <span class="text-danger">{{form.blood_pressure_start.errors}}</span>
                                    </div>
                                 
                                    <div class="col-md -1 text-center">
                                        <label for="inputname" class="">-</label>
                                    </div>
                                    <div class="col-md -4">
                                        <input type="text" class="form-control" name="blood_pressure_end" id="bloodend"  value="{{form.blood_pressure_end.value}}">
                                        <span class="text-danger">{{form.blood_pressure_end.errors}}</span>
                                    </div>
                                    
                                    <div class="col-md -2">
                                        <label for="inputname" class="">mm/Hg</label>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Height&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="height"  id="heig"  value="{{form.height.value}}" >
                            </div>
                            <span class="text-danger">{{form.height.errors}}</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Weight&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="weight"   id="weig"  value="{{form.weight.value}}">
                            </div>
                            <span class="text-danger">{{form.weight.errors}}</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="temperature" class="">Others&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control mb-4" name="others" id="other"  value="" placeholder=""
                                    required>{{form.others.value}}</textarea>
                            </div>
                            <span class="text-danger">{{form.others.errors}}</span>
                        </div>
                


                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger ml-3">Cancel</button>
                </div>
                {% comment %} <!-- {% endfor %}

{% else %} -->
               
                <!-- {% endif %} --> {% endcomment %}
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}


{% block script %}
{% if err %}
    $(document).ready(function () {

        $('#errormodal').modal({backdrop:'static',keyboard:false});

    });
{% endif %} 



    function view(event) {

        var newid = $('#general_vitals' + event).attr("object_id")
        var newvitalid = $('#general_vitals' + event).attr("vitals_id")

        var newtemp = $('#general_vitals'+event).attr("temp")
        var newpulse = $('#general_vitals'+event).attr("pulserate")
        var newbloodstart = $('#general_vitals'+event).attr("bloodstart")
        var newheight = $('#general_vitals'+event).attr("heig")

        var newbloodend = $('#general_vitals'+event).attr("bloodend")

        var newweight = $('#general_vitals'+event).attr("weig")
        var newothers = $('#general_vitals'+event).attr("other")




        $('#object_id').val(newid)
        $('#vitals_id').val(newvitalid)

        $('#temp').val(newtemp)

        $('#pulserate').val(newpulse)
         $('#bloodstart').val(newbloodstart)
          $('#bloodend').val(newbloodend)
           $('#heig').val(newheight)
            $('#weig').val(newweight)
            $('#other').val(newothers)


    }

{% endblock script %}
