{% extends "management/navbar.html" %}
{% load static %}

{% block content %}


<section id="out_patient">
    {% comment %} <div class="container"> {% endcomment %}
        <div class="card mt-4 mx-5">
            <div class="card-body">
                <h1 class="card-title text-center mt-4">REGISTERED OUT_PATIENT</h1><br>
                <hr><br><br>
                <table id="example" class="table table-bordered text-center" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">S.No</th>
                            <th class="text-center">Patient&nbsp;ID</th>
                            <th class="text-center">Patient&nbsp;Name</th>
                            <th class="text-center">Mobile&nbsp;Number</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j,i in z %}
                        {% if i.is_active %}
                        <tr class="active">
                            <td>{{forloop.counter}}</td>
                            <td>{{i.patient.patient_id}}</td>
                            <td>{{i.patient.patient_name}}</td>
                            <td>{{i.patient.phone_number}}</td>


                            <td>{% if i.is_active %}
                                <strong>In-Active</strong>
                                {% else %}
                                <strong>Active</strong>{% endif %}
                            </td>

                            <td> {% if i.is_active %}
                                <a href="{% url 'disable_view' i.id %}"><button type="submit"
                                        class="btn btn-outline-dark"><i
                                            class="fa-solid fa-play"></i></button></a>&nbsp;&nbsp;
                                {% else %}
                                <a href="{% url 'enable_view' i.id %}"> <button type="submit"
                                        class="btn btn-outline-dark"> <i class="fa-solid fa-pause"> </i></button>
                                </a>&nbsp;&nbsp;
                                {% endif %}
                                <button type="button" class="btn btn-outline-dark" onclick="view('{{i.id}}')"
                                    data-toggle="modal" data-target="#exampleModal">
                                    <i object_id="{{i.id}}" vitals_id="{{j.id}}" id="general_vitals{{i.id}}" temp="{{j.temperature}}" pulserate="{{j.pulse_rate}}" bloodstart="{{j.blood_pressure_start}}" bloodend="{{j.blood_pressure_end}}" heig="{{j.height}}" weig="{{j.weight}}" other="{{j.others}}"
                                        class="fa-solid fa-temperature-three-quarters"></i>
                                    {% if user.is_admin %}
                                    </button>&nbsp;&nbsp;<button type="button"
                                    class="btn btn-outline-dark"><i class="fa-solid fa-stethoscope"></i></button>
                                    {% endif %}
                                    
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{i.patient.patient_id}}</td>
                            <td>{{i.patient.patient_name}}</td>
                            <td>{{i.patient.phone_number}}</td>


                            <td>{% if i.is_active %}
                                <strong>In-Active</strong>
                                {% else %}
                                <strong>Active</strong>{% endif %}
                            </td>

                            <td> {% if i.is_active %}
                                <a href="{% url 'disable_view' i.id %}"><button type="submit"
                                        class="btn btn-outline-dark"><i
                                            class="fa-solid fa-play"></i></button></a>&nbsp;&nbsp;
                                {% else %}
                                <a href="{% url 'enable_view' i.id %}"> <button type="submit"
                                        class="btn btn-outline-dark"> <i class="fa-solid fa-pause"> </i></button>
                                </a>&nbsp;&nbsp;
                                {% endif %}
                                <button type="button" class="btn btn-outline-dark" onclick="view('{{i.id}}')"
                                    data-toggle="modal" data-target="#exampleModal">
                                    <i object_id="{{i.id}}" id="general_vitals{{i.id}}" vitals_id="{{j.id}}" temp="{{j.temperature}}" pulserate="{{j.pulse_rate}}" bloodstart="{{j.blood_pressure_start}}" bloodend="{{j.blood_pressure_end}}" heig="{{j.height}}" weig="{{j.weight}}" other="{{j.others}}"
                                        class="fa-solid fa-temperature-three-quarters"></i>
                                    {% if i.admin %}
                                </button>&nbsp;&nbsp;<button type="button"
                                    class="btn btn-outline-dark"><i class="fa-solid fa-stethoscope"></i></button>
                                    {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                       
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% comment %} </div> {% endcomment %}
</section>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h2 class="modal-title w-100 text-center" id="exampleModal">General Vitals </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
          
                <div class="modal-body">
                    <form action="{% url 'general_vitals' %}" method="POST">
                        {% csrf_token %}
                        {% comment %} <!-- {% if z %}
                        {% for i,j in z %} --> {% endcomment %}
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="temperature" class="col-form-label">Temperature&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="" 
                                        aria-label="Recipient's username" name="temperature" id="temp"
                                        aria-describedby="basic-addon2" >
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"> &#8457;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="temperature" class="col-form-label">Pulse&nbsp;Rate&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="" id="pulserate"
                                        aria-label="Recipient's username" name="pulse_rate"
                                        aria-describedby="basic-addon2" >
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">/min</span>
                                    </div>
                                    <input type="text" name="object" id="object_id">
                                    <input type="text" name="vitals" id="vitals_id">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="inputname" class="col-form-label">Blood&nbsp;Pressure&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="blood_pressure_start"  id="bloodstart" >
                                    </div>
                                    <div class="col-lg-1 text-center">
                                        <label for="inputname" class="col-form-label">-</label>
                                    </div>
                                    <div class="col-lg-4">
                                        <input type="text" class="form-control" name="blood_pressure_end" id="bloodend" >
                                    </div>
                                    <div class="col-lg-2">
                                        <label for="inputname" class="col-form-label">mm/Hg</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="temperature" class="col-form-label">Height&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="height"  id="heig" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="temperature" class="col-form-label">Weight&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" name="weight"   id="weig" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6">
                                <label for="temperature" class="col-form-label">Others&nbsp;&nbsp;:</label>
                            </div>
                            <div class="col-lg-6">
                                <textarea class="form-control mb-4" id="validationTextarea" name="others" id="other"  placeholder=""
                                    required></textarea>
                            </div>
                        </div>
                


                <div class="modal-footer justify-content-center">
                    <button type="submit" class="btn btn-success">Save</button>
                    <button type="reset" class="btn btn-danger ml-3">Cancel</button>
                </div>
                {% comment %} <!-- {% endfor %}

{% else %} -->
               
                <!-- {% endif %} --> {% endcomment %}
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock %}

{% block script %}

    $(document).ready(function () {
        $('#example').DataTable();
        $('#example1').DataTable();
    });
    function view(event) {

        var newid = $('#general_vitals' + event).attr("object_id")
        var newvitalid = $('#general_vitals' + event).attr("vitals_id")

        var newtemp = $('#general_vitals'+event).attr("temp")
        var newpulse = $('#general_vitals'+event).attr("pulserate")
        var newbloodstart = $('#general_vitals'+event).attr("bloodstart")
        var newheight = $('#general_vitals'+event).attr("heig")

        var newbloodend = $('#general_vitals'+event).attr("bloodend")

        var newweight = $('#general_vitals'+event).attr("weig")
        var newothers = $('#general_vitals'+event).attr("other")




        $('#object_id').val(newid)
        $('#vitals_id').val(newvitalid)

        $('#temp').val(newtemp)

        $('#pulserate').val(newpulse)
         $('#bloodstart').val(newbloodstart)
          $('#bloodend').val(newbloodend)
           $('#heig').val(newheight)
            $('#weig').val(newweight)
            $('#other').val(newothers)


    }

{% endblock script %}
