@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppins';
    font-style: normal;
    
}
.text_size{
    font-size: larger;
     
   /* margin-top: 25px; */
  
}
.col-form-label{
    margin-bottom: 25px;
   

}
.form_center{
   
    padding: 25px;
    margin-top: 10px;
   
}

textarea{
    resize: none;
}
#row_background{
    background-color: rgb(201, 198, 198);
} 
h1{
    text-transform: uppercase;
    text-align:center;
    
}
.height_card{
    height: 300px;
    overflow: auto;
}
h4{
    font-size: large;
    font-weight: 500;

}




  



