body {
   background-color: #ECEEFF;
}

.login_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.full_card{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
 .container{
    width: 60%;
}
.corousel_side {
    background-color: #0a69ec;
    height: 500px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;

}
.card{
    border: none;
}
.carousel-inner {
    height: 100%;
}



.carousel {
    position: relative;
    height: 100%;
}

.carousel-indicators [data-bs-target] {
    width: 5px;
    height: 5px;
    border-radius: 50%;


}

.carousel-item {
    height: 100%;
    object-fit: contain;
    transition: 1s;
  opacity: 0.5;
}
.carousel-item img {
    /* width: 50%; */
 position: absolute;
    top: 45%;
    left: 50%;
    width:250px;
    max-width: 100%;
    height:auto;
    transform: translate(-50%, -50%);

}

.carousel-item.active {
    width: 100%;
    height: 100%;
 max-width: 100%;
    object-fit: contain;
 transition: 1s;
 opacity: 1;
}
.card_title{
    position: absolute;
    top:5%;
    left:10%;
    color: white;
}
.card_content{
    position: absolute;
    bottom: 5%;
    left: 10%;
    color: white;
}

.btn_submit {
    display: flex;
    justify-content: center;
}

.form-floating .form-control{
border: none;
border-bottom: 2px solid lightgrey;
border-radius: 0;

}
label{
    color: grey;
}
.form-floating input:focus{
    border: none;
    outline: none;
}
 .form-floating .form-control:focus{
border-bottom: 2px solid #0a69ec;

    outline: none;
    box-shadow: none;
}
textarea{
    resize: none;
}
@media screen and (max-width:767px) {
    .corousel_side {
        height: 350px;
        border-radius: 0;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .carousel-item img {
        top: 45%;
        width: 200px;
    }
}
@media screen and (max-width:1200px) {
.container{
    width: 70%;
}
}
@media screen and (max-width:995px) {
    .container{
        width: 80%;
    }
    }
    @media screen and (max-width:890px) {
        .container{
            width: 80%;
        }}

 @media screen and (max-width:500px) {
    .container{
        width: 100%;
    }
}
